<div style="display:flex;flex-direction:column;align-items:center;">
  <h1>Canyon Bicycles Order Form!</h1>
  <img src="images/canyon_logo.png" alt="Canyon Official Partner">
  <form class="" action="/checkout" method="post">
    <label for="item">Which Model Do You Want?</label>
    <input type="text" name="item" placeholder="ie. Canyon Strive CF 7.0">
    <input type="submit" name="submit" value="submit">
  </form>
</div>
